*.pwb
*.epc

*.tsr

*.db
*.mdb

*.doc*
*.xls*
*.msg
*CONFIDENTIAL*

*.csv
*.zip

*.pyc

HourEPCs/*.epc
Output/*.pwb
Output/*.xls*
Seed/*.pwb
TopoSeed/*.pwb
TopoSeed/*.csv
TopoSeed/*.aux
TopoSeed/*.xls*

*pycache*
